{% extends "base.html" %}

{% load add_class %}

{% block title %}
	{% if object %}
		Модифікування курсу "{{ object.title }}"
	{% else %}
		Створення нового курсу
	{% endif %}
{% endblock %}

{% block content %}
<main>
	<div class="container">
		<h2>
			{% if object %}
				Модифікування курсу "{{ object.title }}"
			{% else %}
				Створення нового курсу
			{% endif %}
		</h2>
		<div class="demo-card-course">
			<h3>Іноформація про курс</h3>
			<form action="." method="POST">
				{{ form.subject.label_tag }}
				{{ form.subject|addclass:"form-control border-input" }}
				<br />
				{{ form.title.label_tag }}
				{{ form.title|addclass:"form-control border-input" }}
				<br />
				{{ form.slug.label_tag }}
				{{ form.slug|addclass:"form-control border-input" }}
				<br />
				{{ form.overview.label_tag }}
				{{ form.overview|addclass:"form-control border-input" }}
				{% csrf_token %}
				<br />
				<p><input class="btn btn-fill btn-success" type="submit" value="Save course"></p>
			</form>
		</div>
	</div>
</main>
{% endblock %}