{% extends "base.html" %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	<h1>Login</h1>
	<div class="module">
		{% if form.errors %}
			<p>Your username and password are incorrect. Try again.</p>
		{% else %}
			<p>Please fill nex form</p>
		{% endif %}
		<div class="login-form">
			<form action="{% url 'login' %}" method="POST">
				{{ form.as_p }}
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}" />
				<p><input type="submit" value="Login" /></p>
			</form>
		</div>
	</div>
{% endblock %}